@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #323f75;
  --navColor3: #ac3e3b;
  --navColor4: #2f8735;
  --navColor5: #ac8a3b;
  --navColor6: #7f2c6a;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: 'nunito', 'sans-serif';
  user-select: none;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 16.6666666%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  text-align: center;
  transition: transform 0.3s ease;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

nav li a:hover::before {
  opacity: 1;
  transform: scale(2);
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

nav li:nth-of-type(6) {
  background-color: var(--navColor6);
}

/* Slide In Animation With Delay For Each Nav Item */

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1.0s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  } to {
    transform: translateX(0);
  }
}

/* Slide Out Animation With Delay For Each Nav Item */

.slide-out-1 {
  animation: slide-out 0.3s linear 0.6s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-6 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url(https://images.unsplash.com/20/dusty-sky.JPG?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center center;
}

.profile img {
  position: absolute;
  z-index: 3;
  top: 1rem;
  left: 1.5rem;
  width: 40px;
}

.profile span{
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 4.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#home span#welcomeHeading {
  text-align: center;
  font-size: 2.5rem;
  padding: 5px 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards;
}

/* Define the keyframes for the animation */
@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

section#about-me {
  background-color: var(--navColor2);
}

section#skills {
  background-color: var(--navColor3);
}

section#projects {
  background-color: var(--navColor4);
}

section#education {
  background-color: var(--navColor5);
}

section#links {
  background-color: var(--navColor6);
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 1025px) {
  .profile img {
    top: 1rem;
    left: 1.5rem;
  }

  .profile span {
    top: 1.5rem;
    left: 4.5rem;
  }

  section#home span#welcomeHeading {
    font-size: 1.7rem;
  }

  nav li a {
    transition: none;
  }
  
  nav li a:hover {
    transform: none;
  }

  nav li a::before {
    transition: none;
  }
  
  nav li a:hover::before {
    transform: none;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}
