@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

:root {
  --navColor1: rgb(245, 245, 245);
  --navColor2: rgb(230, 230, 230);
  --navColor3: rgb(215, 215, 215);
  --navColor4: rgb(200, 200, 200);
  --navColor5: rgb(185, 185, 185);
  --navColor6: rgb(170, 170, 170);
  --textColor: #2e2e2e;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: 'nunito', 'sans-serif';
  user-select: none;
  overflow-x: hidden;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 16.6666666%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: var(--textColor);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  text-align: center;
  transition: transform 0.3s ease;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 1px;
  background-color: var(--textColor);
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

nav li a:hover::before {
  opacity: 1;
  transform: scale(2);
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

nav li:nth-of-type(6) {
  background-color: var(--navColor6);
}

/* Slide In Animation With Delay For Each Nav Item */

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1.0s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  } to {
    transform: translateX(0);
  }
}

/* Slide Out Animation With Delay For Each Nav Item */

.slide-out-1 {
  animation: slide-out 0.3s linear 0.6s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-6 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: var(--navColor1);
  box-shadow: 0 0 5px var(--textColor);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--textColor);
}

.sectionHeading {
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* Section: Home */

section#home {
  background-image: url(https://images.unsplash.com/20/dusty-sky.JPG?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center center;
}

.profile img {
  position: absolute;
  z-index: 3;
  top: 1rem;
  left: 1.5rem;
  width: 40px;
}

.profile span{
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 4.5rem;
  text-decoration: none;
  padding-bottom: 5px;
  color: var(--navColor1);
  border-bottom: 1px solid var(--navColor1);
}

section#home span#welcomeHeading {
  text-align: center;
  font-size: 2.5rem;
  padding: 5px 10px;
  color: var(--navColor1);
}

/* Section: About-Me */

section#about-me {
  background-color: var(--navColor2);
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
}

section#about-me h1 {
  grid-column: 1/-1;
}

section#about-me img {
  width: 350px;
}

section#about-me p {
  padding-left: 60px;
  font-size: 1.2rem;
}

/* Section: Skills & Qualifications */

section#skills {
  background-color: var(--navColor3);
}

section#qualifications {
  background-color: var(--navColor4);
}

section#skills,
section#qualifications {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}

section#skills div,
section#qualifications div {
  display: grid;
  grid-template-columns: 1fr;
}

section#skills div:last-of-type,
section#qualifications div:last-of-type {
  margin-bottom: 100px;
}

.skillsHeading {
  font-weight: 800;
  font-size: 1.25rem;
}

.qualificationsHeading {
  font-size: 1.2rem;
}

.qualificationsDate {
  font-size: 0.8rem;
  font-weight: 200;
}

.skillsList,
.qualificationsInfo {
  padding: 0 300px;
}

/* Section: Projects */

section#projects {
  background-color: var(--navColor5);
  min-height: 100vh;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}

section#projects h1 {
  margin-top: 50px;
  grid-column: 1/-1;
}

.projectItem {
  text-align: center;
  background-color: var(--navColor4);
  padding: 20px;
  margin: 50px 20px;
  border-radius: 7px;
  box-shadow: 0 10px 13px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, background-color 0.6s;
}

.projectItem:hover {
  margin: 0 20px;
  transform: scale(1.1);
  background-color: rgb(197, 219, 226);
}

.projectItem:hover:last-of-type {
  margin: 50px 20px;
}

.projectLink {
  text-decoration: none;
  color: var(--textColor);
}

.projectVideo {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.projectHeader {
  font-weight: 600;
}

.projectLanguage {
  display: none;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}

.projectItem:hover .projectLanguage {
  display: block;
}

.projectDescription {
  display: none;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
}

.projectItem:hover .projectDescription {
  display: block;
}

/* Section: Contacts */

section#contacts {
  background-color: var(--navColor6);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
}

.contactsHeading {
  font-size: 1.5rem;
  font-weight: 800;
}

.contactsIcons {
  letter-spacing: 6px;
  font-size: 3rem;
}

.contactsIcons a {
  color: var(--textColor);
  transition: color 0.3s;
}

.contactsIcons a:hover {
  color: rgb(72, 98, 107);
}

.contactsEnd {
  font-weight: 800;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--navColor2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--navColor6);
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 1025px) {
  nav li a {
    transition: none;
  }
  
  nav li a:hover {
    transform: none;
  }

  nav li a::before {
    transition: none;
  }
  
  nav li a:hover::before {
    transform: none;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }

  /* Sections */

  .sectionHeading {
    font-size: 1.2rem;
    margin-top: 50px;
  }

  /* Section: Home */

  .profile img {
    top: 1rem;
    left: 1.5rem;
  }

  .profile span {
    top: 1.5rem;
    left: 4.5rem;
  }

  section#home span#welcomeHeading {
    font-size: 1.7rem;
  }

  /* Section: About Me */

  section#about-me {
    min-height: 100vh;
    height: fit-content;
    grid-template-columns: 1fr;
  }
  
  section#about-me img {
    grid-row: 2/3;
    width: 60%;
  }
  
  section#about-me p {
    padding: 30px;
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
  }

  /* Section: Skills & Qualifications */
  
  .skillsHeading,
  .qualificationsHeading {
    padding: 0 10px;
    font-size: 1.1rem;
  }

  .qualificationsDate {
    font-size: 1rem;
    font-weight: 200;
  }
  
  .skillsList {
    padding: 0 50px;
  }

  .qualificationsInfo {
    padding: 0 20px;
  }

  /* Section: Projects */

  .projectItem {
    transition: none;
  }
  
  .projectItem:hover {
    margin: 50px 20px;
    transform: scale(1);
    background-color: var(--navColor4);
  }
  
  .projectLanguage {
    display: block;
  }
  
  .projectDescription {
    display: block;
  }
  
  /* Section: Contacts */
  
  .contactsHeading {
    font-size: 1rem;
  }
  
  .contactsIcons {
    letter-spacing: 3px;
    font-size: 2rem;
  }
  
  .contactsIcons a {
    transition: none;
  }
  
  .contactsIcons a:hover {
    color: var(--textColor);
  }

  .contactsEnd {
    font-size: 0.8rem;
  }
}
